language: objective-c

#branches:
# only:
# - master

xcode_project: Swifternalization.xcodeproj
xcode_scheme: SwifternalizationTests
osx_image: beta-xcode6.3
xcode_sdk: iphonesimulator8.3

script:
- xcodebuild clean build test -project FireLampades/FireLampades.xcodeproj -scheme FireLampades -sdk iphonesimulator10.1 -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.1'

