language: objective-c

#branches:
# only:
# - master

xcode_project: Swifternalization.xcodeproj
xcode_scheme: SwifternalizationTests
osx_image: xcode6.4
xcode_sdk: iphonesimulator10.1

script:
- instruments -s devices # list all available devices
- pod install
- xcodebuild clean build test -workspace FireLampades/FireLampades.xcworkspace -scheme FireLampades -destination 'platform=iOS Simulator,name=iPhone 6,OS=8.4'

