<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856076291492-dotmu5pnidihqbv8lcb5pf1q5ctf3b98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856076291492-dotmu5pnidihqbv8lcb5pf1q5ctf3b98</string>
	<key>API_KEY</key>
	<string>AIzaSyDXkiQBfBS3eBXX6sF3qiArXVPA9GMFDq8</string>
	<key>GCM_SENDER_ID</key>
	<string>856076291492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.in.ios.FireLampades</string>
	<key>PROJECT_ID</key>
	<string>firelambades</string>
	<key>STORAGE_BUCKET</key>
	<string>firelambades.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:856076291492:ios:9a745ce26f82b760</string>
	<key>DATABASE_URL</key>
	<string>https://firelambades.firebaseio.com</string>
</dict>
</plist>